.contact{

    min-height:80vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#f5f7fa;

    padding:60px 20px;
}

.contact-container{

    background:white;

    width:700px;

    padding:45px;

    border-radius:10px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.contact h1{

    color:#003366;

    margin-bottom:15px;
}

.contact p{

    color:#555;

    margin-bottom:25px;
}

form{

    display:flex;

    flex-direction:column;

    gap:15px;
}

input,
textarea{

    padding:15px;

    border:1px solid #ddd;

    border-radius:6px;

    font-size:16px;
}

button{

    background:#ff6b00;

    color:white;

    border:none;

    padding:15px;

    border-radius:6px;

    cursor:pointer;

    font-size:17px;

    transition:.3s;
}

button:hover{

    background:#e45f00;
}

.info{

    margin-top:35px;

    border-top:1px solid #ddd;

    padding-top:25px;
}

.info h3{

    color:#003366;

    margin-bottom:15px;
}